
.space{
padding:10px;
}
.card{
border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}
.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 400px;

}
h1{
text-align:center;
}
@media screen and (max-width:650px){
h1{
font-size:28px;
}
}