.underline-title {
background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
height: 2px;
margin: -1.1rem auto 0 auto;
width: 400px;
}
th{
padding:10px;
}

#clients {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#clients td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}

#clients tr:nth-child(even){background-color: #f2f2f2;}

#clients tr:hover {background-color: #ddd;}

#clients th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: black;
color: white;
}
h2, h4 {
    text-align: center;
}
.credentials{
background-color: #f2f2f2;
border-radius: 10px;
box-shadow: 2px 2px 2px 2px;
width: 60%;
padding: 10px;
}
.titlebold{
font-weight: 0;
font-size: 18px;
}
@media screen and (max-width: 650px) {
h2{
font-size:20px
}
h4{
font-size:17px
}
.d-none {
    display: initial;
}
.underline-title {
background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
height: 2px;
margin: -0.9rem auto 0 auto;
width: 250px;
}
th, td{
font-size:12px;
}
button{
font-size:10px;
}
.credentials{
  margin-bottom: 15px;
}
.titlebold{
  font-weight: 900;
  font-size: 15px;
}
}