{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap5 %} {{ block.super}} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
<title>Auto Log</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/client_detail.css' %}">
</head>
<body>

<div class="container">
      <div id="card-title">
      <h2>Client Details</h2>
        <div class="underline-title"></div>
  </div>
      <div class="row">
        <div class="col-md-1">
    <h1></h1>
        </div>
        <div class="col-md-10">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
      <div class="titlebold"><strong></strong>
      <br>
  <div class="track-card" >
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="credentials">
        <h3 class="titlebold"><strong>Name: {{ clients.0.name|capfirst }}</strong> </h3>
      </div>
      </div>

        <div class="col-md-6">
          <div class="credentials">
            <h3 class="titlebold"><strong>Phone Number: {{ clients.0.phone_number }} </strong></h3>
          </div>
        </div>
    </div>
    <br>
    <table id="customers">
    <tr>
    <td><strong><a href="{% url 'new_client' %}?name={{ clients.0.name|urlencode }}&phone_number={{ clients.0.phone_number|urlencode }}"><button type="button" class="btn btn-primary" name="button">AddItem</button></a></strong></td>
    <td><strong>Unpaid Total KSH{{unpaid_items_total|intcomma}}/=</strong></td>
      {% if not all_item_paid %}
    <td><a href="{% url 'mark_all_items_paid' clients.0.slug %}"><button type="button" class="btn btn-danger" name="button">PaidAll</button></a></td>
  {% endif %}
      </tr>
      </table>
    <hr>
      {% if not clients %}
  <p>No client found for the given slug.</p>
{% else %}
  <ul>
    {% for client in clients %}
      {% if not client.is_item_paid %}
        <table id="customers">
          <tr>
            <td><strong>Item: {{ client.item }}</strong><br></td>
            <td><strong>Item Unit Price: {{ client.item_unit_price|intcomma }}</strong><br></td>
          </tr>
          <tr>
            <td><strong>Item Quantity: {{ client.item_quantity }}</strong><br></td>
            <td><strong>TotalAmount: KSH{{ client.item_total_amount|intcomma }}/=</strong><br></td>
          </tr>
          <tr>
            <td><strong>Collection Date: {{ client.item_collection_date }}</strong><br></td>
          </tr>
          <tr>
            <td><strong><a href="{% url 'update-client' client.pk %}"><button type="button" class="btn btn-success" name="button">Update Details</button></a></strong></td>
            <td><a href="{% url 'item_paid' client.slug %}"><button type="button" class="btn btn-danger" name="button">Paid</button></a></td>
          </tr>
        </table>
    <hr>
      {% endif %}
    {% endfor %}
    <br>
<h4>Paid Items</h4>
    {% for client in clients %}
      {% if client.is_item_paid %}
        <table id="customers">
          <tr>
            <td><strong>Item: {{ client.item }}</strong><br></td>
            <td><strong>Item Unit Price: KSH{{ client.item_unit_price|intcomma }}/=</strong><br></td>
          </tr>
          <tr>
            <td><strong>Item Quantity: {{ client.item_quantity }}</strong><br></td>
            <td><strong>Total Amount: {{ client.item_total_amount|intcomma }}</strong><br></td>
          </tr>
        </table>
    <hr>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
      <br>
  </div>
</div>
  <div class="col-md-1">
  </div>
</div>
  </div>

  </div>
  <div class="col-md-1">
  <h1></h1>
  </div>
  </div>


    </div>
    </div>

</body>
</html>
{%endblock%}