{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap5 %} {{ block.super}} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
<title>Auto Log</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/client_detail.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div id="card-title">
      <h2>Client Details</h2>
      <div class="underline-title"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="track-card">
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="credentials">
                  <h3 class="titlebold"><strong>Name: {{ client.name|capfirst }}</strong></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="credentials">
                  <h3 class="titlebold"><strong>Phone Number: {{ client.phone_number }}</strong></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="credentials">
                  <h3 class="titlebold"><strong>ID Number: {{ client.id_number }}</strong></h3>
                </div>
              </div>
            </div>
            <br>
            <table id="customers">
              <tr>
                <td>
                  <strong>
                    <a href="{% url 'new_item' %}?client_id={{ client.id }}&client_slug={{ client.slug }}">
                      <button type="button" class="btn btn-primary" name="button">Add Item</button>
                    </a>
                  </strong>
                </td>
                <td>
                  <strong>Unpaid: {{ unpaid_items_total|intcomma }}</strong>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateModal">Update</button>
                </td>
                {% if not all_item_paid %}
                  <td>
                    <a href="{% url 'mark_all_items_paid' client.slug %}">
                      <button type="button" class="btn btn-warning" name="button">Paid All</button>
                    </a>
                  </td>
                {% endif %}
                <td>
                  <button type="button" class="btn btn-danger" name="button" onclick="confirmDeleteClient('{{ client.slug }}')">Delete Client</button>
                </td>
              </tr>
            </table>
            <hr>

            {% if not items %}
              <p>No items found for the client.</p>
            {% else %}
              <h4>Unpaid Items</h4>
              {% for item in items %}
                {% if not item.is_item_paid %}
                  <table id="customers">
                    <tr>
                      <td><strong>Item: {{ item.item }}</strong><br></td>
                      <td><strong>Item Unit Price: {{ item.item_unit_price|intcomma }}</strong><br></td>
                    </tr>
                    <tr>
                      <td><strong>Item Quantity: {{ item.item_quantity }}</strong><br></td>
                      <td><strong>Total Amount: {{ item.item_total_amount|intcomma }}</strong><br></td>
                    </tr>
                    <tr>
                    <td><strong>Collection Date: {{ item.item_collection_date }}</strong><br></td>
                      <td><strong>Lender: {{ item.lender }}</strong><br></td>
                    </tr>
                    <tr>
                      <td><strong><a href="{% url 'update-item' item.pk %}"><button type="button" class="btn btn-success" name="button">Update</button></a></strong></td>
                      <td>
                        <a href="{% url 'item_paid' item.pk %}">
                        <button type="button" class="btn btn-warning" name="button">Paid</button>
                        </a>
                        <button type="button" class="btn btn-danger" name="button" onclick="confirmDelete({{ item.pk }})">Delete</button>
                      </td>
                    </tr>
                  </table>
                  <hr>
                {% endif %}
              {% endfor %}

              <br>
              <h4>Paid Items</h4>
              {% for item in items %}
                {% if item.is_item_paid %}
                  <table id="customers">
                    <tr>
                      <td><strong>Item: {{ item.item }}</strong><br></td>
                      <td><strong>Item Unit Price: {{ item.unit_price|intcomma }}</strong><br></td>
                    </tr>
                    <tr>
                      <td><strong>Item Quantity: {{ item.quantity }}</strong><br></td>
                      <td><strong>Total Amount: {{ item.total_amount|intcomma }}</strong><br></td>
                    </tr>
                    <tr>
                    <td><strong>Collection Date: {{ item.item_collection_date }}</strong><br></td>
                    <td><strong>Lender: {{ item.lender }}</strong><br></td>

                    </tr>
                  </table>
                  <hr>
                {% endif %}
              {% endfor %}
            {% endif %}
            <br>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Enter Paid Amount</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Your update form content -->
          <form method="post" action="{% url 'update_unpaid_items' slug=client.slug %}">
             {% csrf_token %}
             <input type="text" name="updated_total" value="{{ updated_total }}">
             <input type="hidden" name="unpaid_items_total" value="{{ unpaid_items_total }}">
             <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{%endblock%}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function confirmDelete(itemId) {
    if (confirm("Are you sure you want to delete this item?")) {
        window.location.href = "{% url 'delete_item' 0 %}".replace('0', itemId);
    }
}
function confirmDeleteClient(clientslug) {
    console.log("Function called with slug:", clientslug);

    if (confirm("Are you sure you want to delete this Client? All Items Related To Client Will Be Deleted")) {
        var deleteUrl = "{% url 'delete_client' slug='0' %}".replace('0', clientslug);
        console.log("Generated URL:", deleteUrl);
        window.location.href = deleteUrl;
    }
}
</script>
{% endblock %}