{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap5 %} {{ block.super}} {% load humanize %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <link rel="icon" href="/static/images/" type="image/gif" sizes="50x50">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Auto Log</title>
</head>

<body>

<div class="container">
<h1>Welcome {{user.username|capfirst}}</h1>
  <div class="underline-title"></div>
  <div class="space"></div>

<!--Cards-->
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="text-align:center;">
      <div class="card-body">
        <h4 class="card-title">Items Amount By {{user.username|capfirst}}.</h4>
        <p class="card-text">KSH<strong>{{total_by_user}}</strong>/=</p>
          <h4 class="card-title">Items Amount This Month.</h4>
        <p class="card-text">KSH:<strong>{{total_item_amount}}</strong>/=</p>
        <a href="{%url 'profile' user.username%}" class="btn btn-primary">View Profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="text-align:center;">
      <div class="card-body">
        <h4 class="card-title">Paid Items Amount.</h4>
        <p class="card-text">KSH<strong>{{ total_paid_balance }}</strong>/=</p>
        <h4 class="card-title">Unpaid Items Amount.</h4>
        <p class="card-text">KSH<strong>{{ total_unpaid_balance }}</strong>/=</p>
        <a href="{%url 'client_list' %}" class="btn btn-primary">View Clients</a>
      </div>
    </div>
  </div>
<div class="space1"></div>
</div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card" style="text-align:center;">
      <div class="card-body">
        <h4 class="card-title">Items Status.</h4>
        <p class="card-text">Items Given: <strong>{{items_number_by_user}}</strong>.</p>
        <p class="card-text">Items Paid: <strong>{{paid_items_by_user}}</strong>.</p>
        <p class="card-text">Items Unpaid: <strong>{{unpaid_items_by_user}}</strong>.</p>
        <a href="{%url 'profile' user.username%}" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Search Client By Name Or ID.</h4>
    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" class="form-control" name="name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
        <hr>
      <a href="{%url 'new_client'%}" class="btn btn-info">Add Client</a>
        {% if user.is_authenticated and user.is_superuser %}
        <a href="{%url 'register'%}" class="btn btn-warning">Add User</a>
        <a href="{%url 'registered_users'%}" class="btn btn-danger">View Users</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
  <div class="space"></div>
          {% if user.is_authenticated and user.is_superuser %}

        <h4 class="card-title" style="text-align:center;">Monthly Record.</h4>
        <h5 style="text-align:center;">Today: {{today}}</h5>

    <div class="row">
      {% for item in total_item_amount_users.monthly_item_balance %}
  <div class="col-sm-6">
    <div class="card" style="text-align:center;">
      <div class="card-body">
        <h4 class="card-title">{{ item.year_month|date:"F" }}.</h4>
        <p class="card-text">Item Amount Given: KSH<strong>{{ item.total_balance|intcomma }}</strong>/=</p>
        <p class="card-text">Paid Items: KSH<strong>{{ total_item_amount_users.paid_items_amount|intcomma }}</strong>/=</p>
        <p class="card-text">Unpaid Items: KSH<strong>{{ total_item_amount_users.unpaid_item_balance|intcomma }}</strong>/=</p>
      </div>
    </div>
  </div>
              {% endfor %}
</div>
{% endif %}
</div>

</body>
</html>
{%endblock%}