{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap5 %} {{ block.super}} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
<title>Auto Log</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>

<body>
<div class="container">
<h2>Search Results</h2>
<div class="underline-title"></div>
  <div class="card-header">
      {% if name %}
    Found {{ name|length }} of searched term {{message}}
  </div>
    {% for result in name%}
      {%if result.is_item_paid %}
          <table id="customers">
              <div class="row">
      <div class="col-md-6">
        <div class="credentials">
        <h3 class="titlebold"><strong>Name: <a href="{{ result.get_absolute_url }}">{{ result.name|capfirst }}<a/> </strong> </h3>
      </div>
      </div>

        <div class="col-md-6">
          <div class="credentials">
            <h3 class="titlebold"><strong>Phone Number: {{ result.phone_number }} </strong></h3>
          </div>
        </div>
    </div>
    <br>
          <tr>
            <td><strong>Item: {{ result.item }}</strong><br></td>
            <td><strong>Item Unit Price: {{ result.item_unit_price|intcomma }}</strong><br></td>
          </tr>
          <tr>
            <td><strong>Item Quantity: {{ result.item_quantity }}</strong><br></td>
            <td><strong>Total Amount: {{ result.item_total_amount|intcomma }}</strong><br></td>
          </tr>
              <tr>
            <td><strong>Status: Paid</strong><br></td>
            <td><strong><a href="{% url 'new_client' %}?name={{ result.name|urlencode }}&phone_number={{ result.phone_number|urlencode }}"><button type="button" class="btn btn-primary" name="button"> Add Item</button></a></strong><br></td>
          </tr>
        </table>
    <hr>
            {% else %}
            <table id="customers">
                              <div class="row">
      <div class="col-md-6">
        <div class="credentials">
        <h3 class="titlebold"><strong>Name: <a href="{{ result.get_absolute_url }}">{{ result.name|capfirst }}</a></strong> </h3>
      </div>
      </div>

        <div class="col-md-6">
          <div class="credentials">
            <h3 class="titlebold"><strong>Phone Number: {{ result.phone_number }} </strong></h3>
          </div>
        </div>
    </div>
          <tr>
            <td><strong>Item: {{ result.item }}</strong><br></td>
            <td><strong>Item Unit Price: {{ result.item_unit_price|intcomma }}</strong><br></td>
          </tr>
          <tr>
            <td><strong>Item Quantity: {{ result.item_quantity }}</strong><br></td>
            <td><strong>TotalAmount: {{ result.item_total_amount|intcomma }}</strong><br></td>
          </tr>
          <tr>
            <td><strong>Collection Date: {{ result.item_collection_date }}</strong><br></td>
              <td><strong>Status: UnPaid</strong><br></td>
          </tr>
          <tr>
            <td><strong><a href="{% url 'update-client' result.pk %}"><button type="button" class="btn btn-success" name="button">Update Details</button></a></strong></td>
            <td><a href="{% url 'item_paid' result.slug %}"><button type="button" class="btn btn-danger" name="button">Paid</button></a></td>
          <td><strong><a href="{% url 'new_client' %}?name={{ result.name|urlencode }}&phone_number={{ result.phone_number|urlencode }}"><button type="button" class="btn btn-primary" name="button"> Add Item</button></a></strong><br></td>

          </tr>
        </table>
    <hr>
      {% endif %}
     {% endfor %}

{% else %}
<h2>No Results of searched term {{message}}</h2>
{% endif %}
</div>
</body>
</html>

  {% endblock %}